@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>

<head>
    <link rel="icon" type="image/png" href="http://demo1.wpair.net/wp-content/uploads/2015/04/logo.png" />
    <title>Web Đọc truyện Online</title>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="robots" content="index, follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- / Yoast SEO plugin. -->

    <link rel='dns-prefetch' href='//s.w.org' />
    
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    @Styles.Render("~/Content/core");

    @*JavaScript*@
    @Scripts.Render("~/bundles/jscore")
</head>
<body class="home blog">

    <div class="navbar navbar-default" role="navigation" id="navigation">
        <div class="container">
            @Html.Partial("_LoginPartial")
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Hiện menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1 class="header-logo">
                    <a href="/" title="logo truyen">
                        <img src="http://demo1.wpair.net/wp-content/uploads/2015/04/logo.png" alt="logo truyen" title="logo truyen">
                    </a>
                </h1>
            </div>

            <div class="navbar-collapse collapse">

                <ul id="menu-the-loai-o-header" class="control nav navbar-nav menu-header">
                    @{ Html.RenderAction("DanhMucHeader", "StoryCategories");}
                    @{ Html.RenderAction("TheLoaiHeader", "StoryTypes");}
                </ul>
                <script type="text/javascript">
                    jQuery(function ($) {
                        $('.menu-header').children('li').each(function () {
                            if ($(this).children('.sub-menu').length) {
                                $(this).addClass('dropdown');
                                $(this).children('a')
                                    .addClass('dropdown-toggle')
                                    .attr({ 'data-toggle': 'dropdown' })
                                    .prepend('<span class="glyphicon glyphicon-list"></span>')
                                    .append('<span class="caret"></span>');
                                $(this).children('.sub-menu').addClass('dropdown-menu').attr({ 'role': 'menu' });
                            }
                        });
                    });
                </script>

                <form class="navbar-form navbar-right" action="/tim-kiem" method="get">
                    <div class="input-group">
                        <input class="form-control search_story search-input" id="txtKeyword" type="text" name="keyword" placeholder="Tìm kiếm...">

                        <div class="input-group-btn">
                            <button class="btn btn-default btn-search" value=@ViewBag.key type="submit"><span class="glyphicon glyphicon-search fa fa-search"></span></button>
                        </div>
                    </div>
                    <div class="search-result"></div>
                </form>
            </div>
        </div>
    </div>
    @RenderBody()

    <div id="fb-root"></div>

    @{ Html.RenderAction("CuoiTrang", "Footer");}
    <div id="fb-root"></div>
    @Scripts.Render("~/bundles/controller")
    @RenderSection("scripts", required: false)
</body>
</html>
