@using WebDocTruyenOnline.Models;
@model ApplicationUser

@{

    ViewBag.Title = "Sửa quyền";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

}

@section header{
    @ViewBag.Title
    }
@section jsFooter {
    @Scripts.Render("~/bundles/jqueryval")
}
<div class="row">

    <div class="col-sm-6">

        <h2>@ViewBag.Title</h2>

        <hr />


        <table class="table">

            <thead>
                @try
                {
                    <tr>

                        <th>Quyền thành viên @Model.Email</th>

                        <th></th>

                    </tr>
                }
                catch { }

            </thead>

            <tbody>
            @try
            {
                if (Model.Roles.Count > 0)

                {

                    foreach (var item in Model.Roles)

                    {


                <tr>

                    <td>@item.RoleId</td>

                    <td>

                        <form action="@Url.Action("DeleteRoleFromUser", new { UserId = item.UserId, RoleId = item.RoleId })" method="post">

                            @Html.AntiForgeryToken()

                            <button type="submit" class="btn btn-xs btn-danger">Gỡ bỏ</button>

                        </form>

                    </td>

                </tr>

                    }

                }
                else
                {
                <td colspan="2">

                <p>Thành viên chưa có quyền nào</p>

                </td>
                    }

               }
                catch { } 
            </tbody>

        </table>

        <h5><strong>Thêm quyền cho thành viên này:</strong></h5>

        <form action="@Url.Action("AddToRole")" method="post">

            <input type="hidden" name="UserId" value="@Url.RequestContext.RouteData.Values["Id"]" />

            @Html.AntiForgeryToken()

            @Html.ListBox("RoleId", null, new { @class = "form-control", multiple = "multiple" })

            <div class="form-group">

                <br />

                <button type="submit" class="btn btn-primary">Thêm </button>

            </div>

        </form>

    </div>

</div>