@model WebDocTruyenOnline.Models.RegisterViewModel
@{
    ViewBag.Title = "Tạo mới tài khoản";
    Layout = "/Views/Shared/Login_Register.cshtml";
}

<script type="text/javascript">
    $('#btnSelectImage').on('click', function (e) {
        e.preventDefault();
        var finder = new CKFinder();
        finder.selectActionFunction = function (url) {
            $('#txtImage').val(url);
        };
        finder.popup();
    })
    var editor = CKEDITOR.replace('txtContent', {
        customConfig: '/Content/Admin/plugin/ckeditor/config.js',
    });
</script>

@section dangky{
    <h1 class="title">
        Đăng ký
        <div class="close"></div>
    </h1>
   @using (Html.BeginForm("Register", "Account", FormMethod.Post))
    {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger dang-ky" })

    <div class="input-container">
        @Html.TextBoxFor(m => m.Email, new { @id = "#{label}" })
        <label for="#{label}">Email</label>
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger dang-ky" })
        <div class="bar"></div>
    </div>
        <div class="input-container">
            @Html.TextBoxFor(m => m.FullName, new { @id = "#{label}" })
            <label for="#{label}">Họ tên</label>
            @Html.ValidationMessageFor(m => m.FullName, "", new { @class = "text-danger dang-ky" })
            <div class="bar"></div>
        </div>
        <div class="input-container">
            @Html.PasswordFor(m => m.Password, new { @id = "#{label}" })
            <label for="#{label}">Mật khẩu</label>
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger dang-ky" })
            <div class="bar"></div>
        </div>
        <div class="input-container">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @id = "#{label}" })
            <label for="#{label}">Nhập lại mật khẩu</label>
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger dang-ky" })
            <div class="bar"></div>
        </div>
        <div class="button-container">
            <button type="submit"><span>Next</span></button>
        </div>
   }
}
@section Login{
    <h1 class="title">Đăng nhập</h1>
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.ValidationMessage("CustomError", new { @class = "text-danger" })

        <div class="input-container">
            @Html.TextBoxFor(m => m.Email, new { @id = "#{label}" })
            @Html.LabelFor(m => m.Email, new { @for = "#{label}" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            <div class="bar"></div>
        </div>
        <div class="input-container">
            @Html.PasswordFor(m => m.Password, new { @id = "#{label}" })
            @Html.LabelFor(m => m.Password, new { @for = "#{label}" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            <div class="bar"></div>
        </div>
        <div class="button-container">
            <button type="submit"><span>OK</span></button>
        </div>
        <div class="footer">@Html.ActionLink("Quên mật khẩu?", "ForgotPassword")</div>

    }
}

@*<h2>@ViewBag.Title.</h2>

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        if(ViewBag.ThongBao != null)
        {
            <label class="text-success">@ViewBag.ThongBao</label>
        }
        @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-4">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-4">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.FullName, new { @class = "col-md-2 control-label" })
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Đăng ký" />
            </div>
        </div>
    }*@

<style>
    .dang-ky {
        color: white;
    }
</style>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $('#btnSelectImage').on('click', function (e) {
            e.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (url) {
                $('#txtImage').val(url);
            };
            finder.popup();
        })
        var editor = CKEDITOR.replace('txtContent', {
            customConfig: '/Content/Admin/plugin/ckeditor/config.js',
        });
    </script>
}
